#signup-form { 
	font: 14px/24px Helvetica, Arial, sans-serif; 
	color: #666; 
}
#signup-form input { 
	width: 60% 
}
#signup-form form { 
	margin: 30px 0 0 0 
}
#signup-form input, textarea { 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 1px solid #C9C9C9; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; 
	color: #545658; 
	padding: 8px; 
	font-size: 14px; 
	border-radius: 2px 2px 2px 2px; 
}

#signup-form input.error {
	border: 1px solid red; 
} 

#signup-form textarea.error {
	border: 1px solid red; 
} 

#signup-form #submit-button { 
	background: url("img/submit_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #B7D6DF; 
	border-radius: 2px 2px 2px 2px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
	color: #437182; 
	cursor: pointer; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 6px 10px; 
	text-shadow: 0 1px 0 #FFFFFF; 
	width: auto; 
}
#signup-form #submit-button:hover { 
	background: url("img/submit_hover_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #9FBAC0; 
	cursor: pointer; 
}
#signup-form a { 
	color: #88BBC8; 
	text-decoration: none; 
}
#signup-form a:hover { 
	color: #f26525 
}
#signup-form h1 { 
	float: left; 
	margin: 0 0 30px; 
	font-size: 24px; 
	line-height: 34px; 
}
#signup-form h2.secondary { 
	float: left; 
	width: 260px; 
	font-size: 16px; 
	font-weight: normal; 
	color: #999; 
	margin-bottom: 30px; 
	line-height: 26px; 
}
#signup-form h3 { 
	margin: 30px 0 0 0 
}
#signup-form .clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
#signup-form .clearfix { 
	display: inline-block 
} /* Hide from IE Mac \*/
#signup-form .clearfix { 
	display: block; 
} /* End hide from IE Mac */
#signup-form .none { 
	display: none; 
} /* End Clearfix _NO__DOTCOMMA__AFTER__*/

#signup-form #send p { 
	margin-bottom: 20px 
}
#signup-form textarea { 
	width: 95%; 
	margin: 0 0 0 2px; 
}
#signup-form #required p{
	font-size:10px;
}
#signup-form #apply { 
	border-top: 1px solid #efefef; 
	margin-top: 30px; 
	padding: 20px 0 0 0; 
}
#signup-form #apply ul { 
	margin-bottom: 50px 
}
#signup-form form label { 
	display: block; 
	margin-bottom: 5px; 
	font-weight: bold; 
	font-size: 12px; 
}

#signup-form img {
	border: none;
	box-shadow: none;
	border-radius: none;
}

#signup-form span.file-input-simulator a.fire-button {
	padding: 15px 35px 13px;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7C7C7C;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}

#signup-form span.file-input-simulator a.fire-button:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}

#signup-form .loaderimg {
	background: url(img/ajax-loader.gif) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 5px;
}

#signup-form .gp-try-again-button {
	background: url("img/submit_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #B7D6DF; 
	border-radius: 2px 2px 2px 2px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
	color: #437182; 
	cursor: pointer; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 4px 10px; 
	text-shadow: 0 1px 0 #FFFFFF; 
	width: auto; 
	display: block;
	text-align: center;
	margin-top: 15px;
}

#signup-form .gp-try-again-button:hover { 
	background: url("img/submit_hover_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #9FBAC0; 
	cursor: pointer; 
}